body{
    background-image: url(./workshop.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.suzuki {
   position: absolute;
   justify-content: right;
   right: 30px;
   padding: 0;
   width: 20%;
}

.suzukiBanner {
    width: 30%;
    justify-items: right;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
}

/*logo, start*/
#logo{
    border: 0;
    border-radius: 50%;
    height: 15%;
    position: absolute;
    margin-left: 2rem;
    margin-top: 2rem;
    cursor: pointer;
    
}

@media (max-width: 768px) {
    #logo {
        height: 120px;
        position: relative;
        margin-left: 40%;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    #logo {
        height: 135px;
        position: relative;
        margin-left: 42.5%;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    #logo {
        height: 150px;
        position: relative;
        margin-left: 44.5%;
    }
}
/*logo, end*/



/*page main heading*/
.heading{
    font-family: "Geom", sans-serif;
    font-size: 500%;
    font-weight: 600;
    font-style: oblique;
    align-self: center;
    color: rgb(3, 69, 156);
    margin-top: 2rem;
    text-align: center;
}


/*form info input blocks*/
.form-floating{
    justify-self: center;
    width: 35%;
}


/*form category headings*/
h3{
    font-family: "Geom", sans-serif;
    font-size: 8rem;
    font-weight: 900;
    font-style: oblique;
    background-color: rgb(5, 87, 141);
    justify-self: center;
    padding: 5px;
    border-radius: 20%;
}



/*type of booking, start*/
.bookingType{
    justify-self: center;
    margin-bottom: 2.5rem;
    text-align: center;
}

select{
    padding: 0.8rem;
}
/*type of booking, end*/



/*scheduling, start*/
.scheduleBooking{
    justify-self: center;
}

#datetime-input{
    padding: 0.8rem;
    justify-self: center;
    width: max-content;
}

.calendarClock{
    justify-self: center;
}
/*scheduling, end*/



/*disclaimer check box, start*/
.form-check{
    justify-self: center;
}

.disclaimer{
    justify-self: center;
    background-color: #cae1f59d;
    padding: 4px;
}
/*disclaimer check box, end*/



/*submit button, start*/
.submit{
    justify-self: center;
    margin-bottom: 4%;
}

.submitBtn{
    background-color: rgb(3, 69, 156);
    padding: 15px;
    color: aliceblue;
    border: 0.1rem solid rgb(66, 92, 145);
    border-radius: 35%;
}

.submitBtn:hover{
    background-color: rgb(53, 122, 212);
    color: rgb(255, 251, 0);
    border: 0.1rem solid rgb(64, 140, 253);
}
/*submit button, end*/



/*footer, start*/
.footer{
    position: static;
    bottom: 0; /* Positions it at the bottom */
    width: 100%; /* Makes it span the full width */
    align-self: center;
}

.footer .text-center{
    background-color:rgba(173, 216, 230, 0.452);
    font-family: "Geom", sans-serif;
    font-weight: 900;
    font-style: bold;
}

#tooltip {
  position: relative;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(34, 112, 202, 0.425);
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 1;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(34, 112, 202, 0.425) transparent transparent transparent;
}

#tooltip:hover .tooltiptext {
  visibility: visible;
}
/*footer, end*/
